.menu-bar {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
}

.name-left {
  width: 100%;
}

.name {
  text-align: center;
  font-size: 26px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 5px;
}

.row-right {
  display: flex;
  justify-content: space-evenly;
  width: 100%; 
}

.tab {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.tab:hover {
  cursor: pointer;
  background-color: #98c1d9ff;
}

@media screen and (min-width: 600px) {
  .menu-bar {
    flex-direction: row;
    height: 55px;
  }
  
  .name-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-left: 40px;
  }

  .name {
    padding-top: 0;
  }
  
  .row-right {
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
  
  .tab {
    padding: 15px;
    margin-bottom: 0;
  }

  .tab[last-tab="true"] {
    margin-right: 25px;
  }
}