.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header {
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.navlink {
  font-family: 'Inter', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: lowercase;
}

.navlink:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .navbar {
    flex-direction: column;
    width: 100vw;
  }

  header {
    margin-right: 0px;
  }

  nav {
    width: 100vw;
  }
}