nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header {
  margin-right: auto;
}

.links {
  width: 50%;
}

.links ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0px;
  margin: 0px;
}

.navlink {
  font-family: 'Inter', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-transform: lowercase;
  list-style-type: none;
}

.navlink:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  nav {
    flex-direction: column;
    width: 100vw;
  }

  header {
    margin-right: 0px;
  }

  .links {
    width: 100vw;
  }
}