/*
https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
--bdazzled-blue: #3d5a80ff;
--pale-cerulean: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;
*/

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
}

.menu-bar {
  display: flex;
  background-color: #ee6c4dff;
  height: 75px;
}

.name-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.name {
  margin-left: 5%;
}

.row-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.tab {
  margin-right: 5%;
}

.pages {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.home {
  background-color: #98c1d9ff;
  height: 100%;
}

.welcome-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div img {
  margin-top: 5%;
  display: block;
  max-width: 215px;
  max-height: 233px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: medium;
}

.about {

}

.resume {

}

.contact {

}