/*
https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
--bdazzled-blue: #3d5a80ff;
--pale-cerulean: #98c1d9ff;
--light-cyan: #e0fbfcff;
--burnt-sienna: #ee6c4dff;
--gunmetal: #293241ff;
*/

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-bar {
  display: flex;
  background-color: beige;
  height: 100px;
}

.name-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.row-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.body {
  display: flex;
  background-color: aliceblue;
  flex-grow: 1;
}