.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
}

.pages {
  height: 100%;
}

.home {
  background-color: #98c1d9ff;
  height: 100%;
}

.welcome-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshot {
  margin-top: 5%;
  margin-bottom: 10px;
  display: block;
  width: 215px;
  height: 233px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: medium;
}

.caption {
  padding-bottom: 0.5em;
}

.caption-main {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about, #projects, #resume, #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#about {
  background-color: rgb(238, 238, 238);
}

#projects {
  background-color: #98c1d9ff;
}

#resume {
  padding-bottom: 20px;
  background-color: rgb(238, 238, 238);
}

.content-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin-left: 1em;
  margin-right: 1em;
}

#contact {
  border-style: solid none none none;
  border-color: #98c1d9ff;
  background-color: rgb(238, 238, 238);
  padding-bottom: 1em;
}

.line {
  display: flex;
  padding-bottom: 0.5em;
  align-items: center;
}

.email-icon, .phone-icon {
  margin-right: 0.5em;
}

.li-icon {
  margin-right: 5px;
}

.github-icon {
  margin-left: 5px;
}

@media screen and (min-width: 1024px) {
  .headshot {
    width: 322.5px;
    height: 349.5px;
  }
}