.menu-bar {
  display: flex;
  flex-direction: column;
  height: 125px;
  background-color: rgb(238, 238, 238);
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

.name-left {
  width: 100%;
}

.name {
  text-align: center;
}

.row-right {
  display: flex;
  justify-content: space-evenly;
  width: 100%; 
}

.tab {
  margin-bottom: 1em;
}

.tab:hover {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .menu-bar {
    flex-direction: row;
    height: 75px;
  }
  
  .name-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  
  .name {
    margin-left: 1em;
  }
  
  .row-right {
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
  
  .tab {
    margin-right: 5%;
    margin-bottom: 0em;
  }
}